
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #0b0b0f;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;

    padding-top: 40px;
}


h1 {
    color: #4a7cff;

    margin-bottom: 30px;

    font-size: 48px;
}


#board {
    width: 640px;
    height: 640px;

    display: grid;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border: 4px solid white;
}


.square {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 52px;

    cursor: pointer;

    user-select: none;
}


.white {
    background-color: #e5e5e5;
}

.blue {
    background-color: #4a7cff;
}

.black-piece {
    color: black;
    font-weight: bold;
}

.white-piece {
    color: white;
    font-weight: bold;

    text-shadow:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

.selected {
    outline: 4px solid yellow;
    outline-offset: -4px;
}


.square:hover {
    filter: brightness(90%);
}
